header {
    width: 1920px;
    height: 60px;
    background-color: #c9c9c9;
    position: absolute;
    top: 0;
}
main {
    width: 1920px;
    height: 920px;
    display: flex;
    background-color: #cdfaf6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer {
    width: 1920px;
    height: 60px;
    background-color: #c9c9c9;
    position: absolute;
}
#mainbox1{
    width: 1200px;
    height: 800px;
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
}   
#mainbox1-1{
    width: 1000px;
    height: 630px;
}
#title{
width: 1000px;
height: 50px;
display: flex;
}
#maintext{
    width: 1000px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #43A49B; 
    box-sizing: border-box;   
}
#button{
    width: 1000px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title1{
    width: 80px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #43A49B;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title2{
    width: 920px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #43A49B;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#manu1{
    width: 1000px;
    height: 40px;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #43A49B;
    display: flex;
}
#text1{
    width:990px ;
    height: 450px;
    background-color: #cdfaf6;
}
button{
    width: 100px ;
    height: 40px;
    font-size:30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #43A49B;
}